@page
@model IndexModel
@section breadcrumb{
    <a class="breadcrumb-item" asp-page="/Index">Home</a>
}

    @if (User.IsAgent())
{
    <div class="row">
        <div class="col-auto">
            <i class="fa fa-circle-user fa64 text-black-50"></i>
        </div>
        <div class="col">
            <h3 class="mb-0 fw-light">@Model.CurrentUser.Name</h3>
            <div class="small text-black-50">Ext: <strong>@Model.CurrentAgent.Extension</strong></div>
            <div class="small">@User.AgentStatus().ToHtml()</div>
        </div>
        @if (User.IsOnline())
        {
            <div class="col-auto text-end">
                <a asp-page="/Add" asp-area="Calls" class="btn btn-success"><i class="fa-solid fa-phone"></i> New call</a>
            </div>
        }
        <div class="col-auto text-end">
            <form method="post" asp-page="Index" asp-page-handler="CheckIn" asp-area="Agents">
                @if (User.IsOnline())
                {
                    <button class="btn btn-warning">Check out <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                }
                else
                {
                    <button class="btn btn-success">Check in <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
                }
            </form>
        </div>
    </div>
    <hr />
}
<div class="row">
    <div class="col-1">&nbsp;</div>
    <div class="col-2">
        <div class="card-sm">
            <div class="card-body text-center">
                <div class="h3">@Model.InCalls</div>
                <i class="fa fa-phone h1 mb text-black-50"></i>
                <div class="h5 m-0 fw-light">Inbound calls</div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card-sm">
            <div class="card-body text-center">
                <div class="h3">@Model.OutCalls</div>
                <i class="fa fa-phone-flip h1 mb text-black-50"></i>
                <div class="h5 m-0 fw-light">Outbound calls</div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card-sm">
            <div class="card-body text-center">
                <div class="h3">@Model.Agents</div>
                <i class="fa fa-headset h1 mb text-black-50"></i>
                <div class="h5 m-0 fw-light">Online agents</div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card-sm">
            <div class="card-body text-center">
                <div class="h3">@Model.OTickets</div>
                <i class="fa fa-ticket h1 mb text-black-50"></i>
                <div class="h5 m-0 fw-light">Open tickets</div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card-sm">
            <div class="card-body text-center">
                <div class="h3">@Model.CTickets</div>
                <i class="fa fa-ticket-simple h1 mb text-black-50"></i>
                <div class="h5 m-0 fw-light">Closed tickets</div>
            </div>
        </div>
    </div>
    <div class="col-1">&nbsp;</div>
</div>